.awesomeVisualsWrapper{
    position: relative;
    width: 100%;
    height: 400px;
}


.fill {
    position: absolute;
    color: lightgrey;
    height: 100%;
    width: 100%;
}
.partFill {
    position: absolute;
    color: red;
    overflow: hidden;
    width: 100%;
}
.iconHolder{
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    line-height: 0px;
}

.awesomeVisualsWrapper.up .iconHolder{
    bottom: 0;
}

.awesomeVisualsWrapper.down .iconHolder{
    top: 0;
}

.awesomeVisualsWrapper.left .iconHolder{
    left: 0;
}

.awesomeVisualsWrapper.right .iconHolder{
    right: 0;
}

.filltext {
    position: absolute;
    font-size: 55px;
    display: table;
    text-align: center;
    bottom: 0px;
    height: 400px;
    box-sizing: content-box;
    width: 100%;
}

.awesomeVisualsWrapper.up .filltext{
    bottom: 0;
}

.awesomeVisualsWrapper.down .filltext{
    top: 0;
}

.awesomeVisualsWrapper.left .filltext{
    left: 0;
}

.awesomeVisualsWrapper.right .filltext{
    right: 0;
}

.filltext>div{
    display: table-cell;
    vertical-align: middle;
    padding: 40px;
}

.partFill>.filltext {
    color: white;
}
.fill>.filltext {
    color: red;
}

.iconRow{
    text-align: center;
}

.gridIcon{
    margin: 0.2em;
}